@charset "utf-8";
/* CSS Document */
html {
    height: 100%;
    width: 100%;
	padding: 0;
    margin: 0;
    line-height: 0;
}
P {font-size:14px;color:#fff; }
a {color:#fff;}
li {color:#fff; font-size:14px;     padding: 5px 0;}
ul, ol {padding-left:15px; margin-left:0px;}
body {background:#3c3c3c;
 margin:0; padding:0;    
  font-family: 'Roboto';    
   height: 100%; }
 
 img {max-width:100%;}
 
 .container {
    max-width: 767px; 
 }
 
.Profile-picture {
    text-align: center;
    position: relative;
}
.backarrow {
    padding: 20px 0;
}

.gallery-thumbs {
    border-bottom: 2px solid #fff;
	
	}
.gallery-thumbs .swiper-slide {
    color: #fff;
    text-align: center;
    font-size: 13px;
	
	
 
}
  .swiper-container {
      width: 100%;
          margin-left: auto;
      margin-right: auto;
    }
	  .gallery-thumbs {
      box-sizing: border-box;
    }
	.swiper-container.gallery-thumbs {
    padding: 0 0px;
}
.gallery-thumbs .swiper-slide-thumb-active {
    color: #548066!important;
    border-bottom: 2px solid #548066!important;
    font-weight: 600;
}
.backarrow i {
    color: #fff;
    font-size: 20px;
}
.Profile-picture img {
    width: 150px;
}
.buuton_divv a {
    background: #558066;
    border: 1px solid #558066;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;     display: inline-block;
}
.edit-icon {
    position: absolute;
    top: 6px;
    left: 57%;     cursor: pointer;
}
span.profile-edit-arrow {
    float: right;
    color: #fff;
    margin-top: 25px;
}
.botom-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; width:100%; 
}
.icon-list a.active {
    color: #548164;
}
.botom-content img {
    width: 100%;
}
.post_description {
    clear: both;
    padding-top: 10px;
}
.right-content-div {
    width: 49%;
    float: right;
}
.right-content-div span {
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.right-content-div .biggertext {
    font-size: 16px;
}
.botom-imgwithlongcontent img {
    width: 100%;
}

.site-link {
    /* clear: both; */
    text-align: center;
    margin-top: 12px;
    color: #fff;
    font-size: 43px;
    font-weight: bold;
    background: url(../images/site-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    float: left;
    width: 100%;
    padding: 10px 0;
}
.site-link a {color:#fff; text-decoration:none; }
.left-logodiv {
    float: left;
    width: 48%;
}
.menu-footer {
    width: 100%;
    float: left;
    padding: 20px;
    color: #fff;
}
.splash-screen {
    height: 100%;
    display: table;
}
ul.menu-social {
    list-style: none;
}
ul.menu-social li {
   display:inline-block;     padding: 0 5px;
}
.middle-content {
    vertical-align: middle;
    display: table-cell;
    padding: 15px;
}

.mobile-menu {
    float: left;
    width: 20%;
    /* display: inline-block; */
     text-align: left;
    padding-top: 6px;
}
.logo-div {
    width: 60%;
    float: left;
    text-align: center;
}
.search-div {
    float: right;
    width: 20%;
     text-align: right;
    padding-top: 5px;
}
.menu-items {
    padding: 15px 0;
}

.mobile-menu img {
    max-width: 55px;
	    cursor: pointer;
}
.search-div img {
    max-width: 55px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active:focus {
    outline: none;
}
.bottom-imagediv {
    background: url(../images/bottombackgroundimg.png);
    height: 181px;
    background-size: 100%;
    vertical-align: bottom;
    background-repeat: no-repeat;
}
	
.signinform input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    font-size: 16px;
    text-align: center;
    height: 45px;
    font-weight: 400;
}
.signinform input::placeholder { opacity:1; color:#000; }	

.login-button button {
    background: #558066;
    border: 1px solid #558066;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    width: 160px;
}
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 9999;
    height: 70px;
    width: 70px;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loadercase {
    width: 65px;
    height: 65px;
    border: 2px solid #558066;
    border-radius: 50%;
    padding: 5px 0 0;
    /* margin: 5px; */
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
}
.loadercase:after {
    content: "";
    width: 100%;
    background: #558066;
    height: 43%;
    display: block;
    margin-top: -2px;
}
.loadercase img {
    padding: 4px 3px 0;
}
/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: rgba(60, 60, 60, 0.8);
    z-index: -1;
}

input:focus {outline:none;}
body .focus-input {
    box-shadow: -1px -1px 21px rgba(0, 0, 0, 0.5);
}
.login-button a {
    background: #558066;
    border: 1px solid #558066;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px; 
}
.forgotpasswordbtn {
    float: right;
}
.divider-div {
    padding: 20px 0;
}
.facebookbtn {
    background: #236a9a;
    border: 1px solid #236a9a;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    line-height: 26px;
}
.facebookbtn i {
    float: left!important;
    display: block;
    line-height: 27px;     padding-left: 12px;
}
.facebookbtn i:after {
    content: "";
    position: absolute;
    background: #1B6447;
    height: 100%;
    width: 1px;
    top: 0;
    margin-left: 23px;
}
.googlebtn {
    background: #c62d36;
    border: 1px solid #c62d36;
color: #fff;
    width: 100%;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    line-height: 26px;
	    margin-top: 10px;
    margin-bottom: 10px;
}

.googlebtn i {
    float: left!important;
    display: block;
    line-height: 27px;     padding-left: 12px;
}
.googlebtn i:after {
    content: "";
    position: absolute;
    background: #b21e23;
    height: 100%;
    width: 1px;
    top: 0;
    margin-left: 19px;
}
a:hover, a:focus {color:#fff;}
button:focus {outline:none; box-shadow:none;}
.signupdiv .signupbtn {
    background: #2b2b2b;
    border: 1px solid #2b2b2b;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    width: 100%;
    font-size: 17px;
    padding: 10px 20px;
    display: block;
    text-align: center;
	    height: 45px;
}
#account_register .signupdiv .signupbtn {background: #568066; border:1px solid #568066;}
.signinform {
    max-width: 400px;
    margin: 40px auto;
    width: 100%;
}
.top-header {
    overflow: hidden;
	width:100%;
}

.logo-div img {
    max-width: 230px;
}
.paymentscreen h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    font-weight: bold;
}

.available-amount {
    background: #588067;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.available-amount span {
    float: right;
    background: #2f2a28;
    color: #558066;
    font-size: 14px;
    padding: 4px 10px;     margin-right: -15px;
}

.paymentscreen h2 {
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    margin: 0;
}
.paymentscreen {
    background: #2b2b2b;
}
.imgdiv {
    float: left;
}
.paymentoptions span {
    display: inline-block;
    float: right;
    color: #558066;
    font-size: 14px;
    padding-top: 3px;
}
.vouchercodeoption {
    background: #3c3c3c;
    padding: 10px;
}
.imgdiv img {
    display: block;
}
.imgdiv {
    color: #558066;
    font-size: 11px;
}
.walletsdiv .paymentoptions:nth-child(3) .imgdiv img {
    max-width: 40px;
}
.walletsdiv .paymentoptions:nth-child(2) .imgdiv img {
    max-width: 72px;
    margin-bottom: 5px;
}
.walletsdiv .paymentoptions:nth-child(2) span {
    padding-top: 16px;
}
.walletsdiv .paymentoptions:nth-child(3) span {
    padding-top: 8px;
}
.walletsdiv .paymentoptions:nth-child(2) {
    margin-top: 0;
}
.vouchercodeoption input {
    background: #2b2b2b;
    border: 1px solid #2b2b2b;
    text-align: center;
    padding: 5px;
    font-weight: 400;
    font-size: 17px;
    width: 190px;
}
.vouchercodeoption input::placeholder {opacity:1; color:#fff;}
.vouchercodeoption input::-webkit-placeholder {opacity:1; color:#fff;}
.paymetsubmit {
    background: transparent;
    color: #558066;
    border: none;
    float: right;
    font-weight: 600;
    margin-top: 9px;
}

.paymetback {
    background: transparent;
    color: #558066;
    border: none;
    float: left;
    font-weight: 600;
    margin-top: 9px;
}
.paymentoptions img {
    max-width: 65px;
    width: 100%;
}
.paymentoptions {
    background: #3c3c3c;
    margin: 10px 0 0;
    padding: 10px 15px;     overflow: hidden;
}
.card-options {
    background: #3c3c3c;
    padding: 10px;     overflow: hidden;
}
.card-options img {
    float: left;
    max-width: 65px;
}
.card-options span {
    color: #fff;
    font-size: 21px;
    float: right;
    /* vertical-align: middle; */
    padding-top: 16px;
}
.debitcardoption {
    background: #3c3c3c;
    padding: 10px; overflow:hidden;
}
.debitcardoption img {
    float: left;
    max-width: 180px;
}
.debitcardoption span {
    float: right;
    color: #558066;
    padding-top: 15px;
    padding-right: 5px;
}
.payment-sucess img {
    max-width: 230px;
    margin: 0 auto;
    display: block;
}
.payment-sucess {
    padding: 60px 15px 0;
    text-align: center;
    width: 100%;
}
.payment-sucess h4 {
    color: #fff;
    font-size: 26px;
    padding: 20px 0 0;
}
.payment-sucess p {
    color: #fff;
    font-size: 17px;
  
}
div#show_fav_message {
    position: fixed;
    bottom: 30px;
    background: #548066;
    color: #fff;
    z-index: 9;
    margin: 0 20px;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.recent_post .img_box {
    margin-top: 0px;
}
.recent_post h2 {
    color: #fff;
    font-size: 22px;
}
.top-search input {
    width: 100%;
    display: block;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #fff;
    padding: 10px;
    font-weight: 400;
    font-size: 17px;
    color: #548066;
}
.search-screen .img_box {
    margin-top: 0;
}
.top-search input::placeholder {
   color:#558066; opacity:1;
}
.top-search input::-webkit-placeholder {
   color:#558066; opacity:1;
}
.search-list {
    padding: 0;
    margin: 0;
    list-style: none; 
}
.search-list li {
    display: inline-block;
    padding: 0 6px 0 0;
}
.search-screen h2 {
    color: #fff;
    font-size: 22px;
}
.recent-searches {
    padding: 10px 0;
    min-height: 175px;
}
.search-list li:first-child {  padding-left:0px;}
.top-search {
    padding-top: 40px;
}
.search-list li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.top-search h5 {
    color: #fff;
    font-size: 18px;
    margin: 20px 0 6px;
    font-weight: 600;
}
.content-box {
    float: right;
    width: 62%;
}
.img_box {
    float: left;
    width: 35%;
	margin-top: 20px;
}
.suggestions_list {
    border-top: none;
    padding: 20px 0;
    overflow: hidden;
    clear: both;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.5);
    margin: 10px 15px;
    border-radius: 5px;
}
.category-listing .suggestions_list {
    padding: 15px;}
.favourite-screen .suggestions_list {
    border-top: none;
    border-bottom: 1px solid #323232;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.5);
    margin: 21px 0;
    padding: 15px;
    border-radius: 5px;
}
.img_box_recent img {
    width: 100%;
}
.img_box_recent {
    padding: 15px 0;
}
.category-listing {
    padding-top: 30px;
}
.category-listing .pageFoot {
    border-bottom: 2px solid #fff;
}
.category-listing .pageFootItem.slick-current {
    color: #548066;
    border-bottom: #548066;
}
.content-box_recent p {
    color: #fff;
    margin-top: 9px;
}
.category-listing .pageFootItem {
    color: #fff;
    /* font-weight: 600; */
    font-size: 17px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.post_date {
    color: #fff;
    /* float: left; */
    padding-bottom: 0px;
    font-size: 12px;
    /* clear: both; */
    padding-top: 0;
    text-align: right;
}
/* Required */

.hidden{
	opacity: 0;
}

.visible{
	opacity: 1;
}
ul.share_button {
    padding: 0;
    margin: 0;
    list-style: none;     text-align: right;
}
.share_button li {
    display: inline-block;
    padding: 0 1px;
}
.share_button li button {
    background: transparent;
    border: none;
    padding: 0 3px;
}
.share_button li button img {
    max-width: 20px;
    width: 100%;
}
.post-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 24px;
}
.post_description p {
    margin-bottom: 0px;
}
.content-box p {
    color: #fff;
    font-size: 14px;
	    margin: 0;
}

.favourite-screen {
    clear: both;
    padding-top: 5px;
}
.profile-info img {
    width: 80px;
    border-radius: 50%;
}
.profile-info .username {
    color: #fff;
    font-size: 22px;
    padding-left: 15px;
}
.profile-info {
    border-bottom: 1px solid #151515;
     padding: 30px 15px;
}

nav.menu {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*.icon-list a:nth-child(2) span {
    color: #558066;
}*/
.input-div {
    position: relative;
}
.btn-div {
    position: absolute;
    right: 0;
    top: 3px;
}
.btn-div .search-btn {
    background: transparent;
    border: none;     padding: 6px;
}
span.casepro {
    background: #d40c31;
    color: #fff!Important;
    padding: 4px 15px;
    border-radius: 16px;
    font-size: 14px!important;
}
.icon-list img {
    max-width: 25px;
    width: 100%;
}
.case-finder {
    padding-top: 20px;
}
.case-finder p {
    color: #cf452f;
    font-size: 16px;
}
.case-finder label {
    color: #558066; 
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
}
.case-finder input {
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid #fff;
}
.case-finder textarea {
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid #fff;
	resize:none;
}
.case-finder select {
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid #fff;
}
.case-finder label span {
    color: #fff;
    font-weight: 400; font-size: 14px;
}
.case-finder label em {
    color: #cf452f;
}
.commentsdiv textarea {height: 155px;}
.buuton_divv button {
    background: #558066;
    border: 1px solid #558066;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
.buuton_divv button:last-child {
   float:right;
}
.buuton_divv {
    padding: 5px 0;
}
.case-finder .form-group {
    clear: both;
}
.buuton_divv {
    clear: both;
}
.post_button {
    padding-top: 5px;
    text-align: right;
}
.my-orderscreen {
    clear: both;
    padding-top: 5px;
}
.dateof-order {
    color: #fff;
    text-align: right;
    font-size: 13px;
    padding-bottom: 2px;
}
.order-status {
    background: #2b2b2b;
    width: 25%;
    height: 105px;
    vertical-align: middle;
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    display: table;
    float: left;
}
.order-listing {
    border-bottom: 1px solid #292929;
    padding: 15px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    margin: 26px 0 0px;
    border-radius: 5px;
    box-sizing: border-box;
    /* clear: both; */
    /* overflow: hidden; */
    width: 100%;
    float: left;
}

.modal {
  text-align: center;
  padding: 0!important;  
} 

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
#msgModal .modal-header {
    padding: 0;
    border: none;
}
#msgModal button.close {
    background: #202123;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 0px;
    text-align: center;
    padding: 0!important;
    float: none;
}
#msgModal .modal_content {
    display: table-cell;
    vertical-align: middle;
    /* min-height: 88px; */
    font-size: 17px;     text-align: center;
}
 #msgModal .modal-body { min-height: 99px;
    display: table;
}
.modal-dialog {
  display: inline-block;
  text-align: left; width:80%; 
  vertical-align: middle;
}

.botom-imgwithlongcontent {
    padding-top: 30px;
    width: 100%;
}
.logodiv {
    text-align: center;
    padding-top: 10px;
}
.sign_inscreen {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.payment-screen  {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}



.order-status h5 {
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: #fff;
    padding: 10px;
}
.go_on {
    display: table; width:100%;
}
.logo_right img {
    width: 100%;
}
.sucessmmessage {
    padding: 15px 0;
    color: #558066;
    font-weight: 600;
}
.post-detailpage {
    padding: 20px 0;
}
.detailpage_img {
    margin-bottom: 15px;
}
.post-detailpage p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.post-detailpage .post_date {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 5px;
}
a:focus, a:hover{text-decoration:none; box-shadow:none;}
.post-detailpage .share_button {
    background: #548066;
    border: 1px solid #548066;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
}
.share_button i {
    padding-right:5px;
}
.feedbackscreen {
    padding-top: 25px;
	    width: 100%;
}
.post_sharebutton:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    left: 0;
    margin: 17px 0;
    z-index: -1;
}
.post_sharebutton {
    text-align: right;
    padding-top: 15px;
}
.logo_right {
    padding-left: 15px;
    width: 50%;
    vertical-align: middle;
    display: table-cell;
}
.feedbackscreen h6 {
    color: #558066;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.go_on input {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
}
.related_post .img_box {
    margin-top: 0px;
}
.related_post .suggestions_list {
    margin: 10px 0px;
}
.related_post h2 {
    color: #fff;
    font-size: 22px;
}
.go_on input::placeholder { opacity:1; color:#000; }
.go_on textarea::placeholder { opacity:1; color:#000; }
.go_on input::-webkit-placeholder { opacity:1; color:#000; }
.go_on textarea::-webkit-placeholder { opacity:1; color:#000; }

.go_on textarea {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
	resize:none;
}
.feedbackbtn button {
    background: #558066;
    border: 1px solid #558066;
    color: #fff;
    padding: 10px 15px;
}
.form-left {
    width: 50%;
    display: table-cell;
}
.feedback_screen {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.feedbackbtn {text-align:right;}
.order-query {
    width: 70%;
    /* padding-left: 203px; */
    color: #fff;
    font-size: 14px;
    padding: 0;
    float: right;
}
.ordertimer {
    clear: both;
    padding-top: 10px;
    color: #fff; font-size:13px;
    /* font-weight: 600; */
}
.order-status span {
    font-size: 18px;
    display: block;
    padding-top: 3px;
}
/*.placeorderdiv {
    display: flex;     align-items: flex-start;
    justify-content: space-between;
}*/
.category-listing .carousel .carousel-item{
  width:100%;
}

.swiper-pagination-bullet-active {
    color: #548066!important;
    border-bottom: 2px solid #548066!important;    
	 font-weight: 600;
}

    .swiper-slide {

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
	  flex-direction:column;
    }

.swiper-pagination-bullet {
    width: auto!important;
    height: auto!important;
    display: inline-block!important;
    border-radius: 0!important;
    background: transparent!important;
    opacity: 1!important;
    color: #fff;
}

	.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{ position:relative; bottom:auto; top:0px;}
	.swiper-pagination-bullet{ width:auto; height:auto;}
	.swiper-pagination{ text-align:left;}
	
	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
	white-space:nowrap;
	overflow-x:auto; 
	-webkit-overflow-scrolling:touch;
	 -ms-autohiding-scrollbar:none;
	}
	.swiper-pagination-bullet{
	line-height:normal;
	background:none;
	font-size:17px;
	text-transform:uppercase;
	border-bottom: 2px solid #fff;
	padding:10px 20px;
	
	}
	.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets::-webkit-scrollbar{ display:none;}
.search-screen .suggestions_list {
    padding: 15px;
    margin: 10px 0px;
}
.top-profile {
    padding-top: 15px;
}
.backgroundbottom {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.top-profile {
    width: 100%;
}
@media (max-width:600px) {
	.payment-sucess img {
    max-width: 190px;
}
.order-status h5 {
    font-size: 17px;}
	}
@media (max-width:400px) {
.feedbackscreen h6 {
    font-size: 15px;
}
.login-button button {
    width: 142px;
}	
	.payment-sucess h4 {
    font-size: 24px;
}
	.bottom-imagediv {
    height: 138px;}
	.mobile-menu img {
    max-width: 40px;
}
.mobile-menu {
    padding-top: 3px;
}
.search-div img {
    max-width: 40px;
}
.search-div {
    padding-top: 4px;
}	
.logo-div img {
    max-width: 180px;
}	
.walletsdiv .paymentoptions:nth-child(2) .imgdiv {
    width: 73%;
}
.order-status h5 {
    font-size: 14px;
}
.order-status span {
    font-size: 15px;
}
.search-list li a {
    font-size: 14px;
}
.search-list li {
    padding: 0 2px 0 0;
}
.order-query {
    width: 67%;
}
.order-status {
   height: 88px;}
	}

@media (max-width:320px) {
.payment-sucess {
    padding: 35px 0 0;
}
.payment-sucess img {
    max-width: 200px;
}
feedbackscreen h6 {
    font-size: 15px;}
}




.progress 
{
 position: fixed;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 9999;
 background-color: #3c3c3c;
}
.bar 
{ 
  background-color: #537f64; 
  width:0%; 
  height:5px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}

@media (min-height: 568px) and (max-height: 767px) {
	.botom-imgwithlongcontent {
    padding-top: 0;
}
.signinform input {
    height: 35px; 
}	
.googlebtn {
    padding: 7px 10px;     margin-top: 8px;
    margin-bottom: 8px;
}	
	
.facebookbtn {
    padding: 6px 10px;}	
.divider-div {
    padding: 13px 0;
}
.login-button button {
    padding: 7px 0;}	
	.sign_inscreen .menu-items {
    padding: 10px 0 0;
}

.sign_inscreen .logodiv {
    padding-top: 0;
}
.signinform {
    margin: 10px auto;
}
.signinform  .form-group {
    margin-bottom: 10px;
}
.buuton_divv {
    padding: 5px 0 20px;
}
#feedback_form .form-group {
    margin-bottom: 10px;
}
.top-profile {
    padding-top: 10px;
}
.Profile-picture img {
    width: 100px;
}
.form-group {
    margin-bottom: 10px;
}
}
